body {
  margin: 0;
}

nav {
  padding: 20px;
}

.container {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navContainer > div {
  align-items: center;

  display: flex;
  column-gap: 10px;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.search-Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 25px;
}

.search {
  border-radius: 25px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border: 2px solid #f2f2f2f2;
  height: 40px;
}
.search:hover {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}
.searchsvg {
  width: 30px;
}
.voiclogo {
  height: 30px;
}
.input {
  padding: 0;
  background: none;
  border: none;
  width: 90%;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button {
  border: none;
  height: 36px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5f6368;
}

.footerBox {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  column-gap: 20px;
  padding: 15px;
  background-color: #f2f2f2;
}

.footerBox a {
  text-decoration: none;
  color: #5f6368;
}
